NEXT_PUBLIC_STACKS_NETWORK=devnet
NEXT_PUBLIC_PLATFORM_HIRO_API_KEY=0ae8ded82d4aca1ab904ad14bbe69263

# Set the deployer address for each network. The app will pick the one
# matching NEXT_PUBLIC_STACKS_NETWORK. Leave others empty if unused.
NEXT_PUBLIC_CONTRACT_DEPLOYER_DEVNET_ADDRESS=
NEXT_PUBLIC_CONTRACT_DEPLOYER_TESTNET_ADDRESS=STF5BZ5KP9BBJG3HTCH4QRNS0N1JMMAKDDN02G2W
NEXT_PUBLIC_CONTRACT_DEPLOYER_MAINNET_ADDRESS=

